body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #eaeaea;
  font-size: 12px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header {
  width: 90%;
  max-width: 600px;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 auto;
  display: block;
  color: #b5e853;
}

header .title {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header .title:before {
  content: "./ ";
  font-size: 18px;
}

header .sub-title {
  font-size: 16px;
  font-weight: 300;
  color: #b5e853;
  margin-bottom: 0;
}

content {
  width: 90%;
  max-width: 600px;
  margin: 25px auto 0;
  font-size: 14px;
  display: block;
  color: #b5e853;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}